<%= form_for :session, url: sign_in_path do |f| %>

<div class="container">
  <form>
    <div class="form-group">
      <div class="field">
        <%= f.label :email, 'Email:' %><br />
        <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'exemple@email.com' %>
      </div>

      <div class="field">
        <%= f.label :password, 'Senha' %><br />
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'senha' %>
      </div>
      <br >
      <div class="actions">
        <%= f.submit "Log in", :class => 'btn btn-primary' %>
      </div>
      <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
    </div>
  </form>
</div>

<% end %>
