<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <div class="alert-error">
    O formulário contém <%= pluralize(@user.errors.count, "erro") %>.
  </div>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container">
  <form>
    <div class="form-group">
      <div class="field">
        <%= f.label :name, 'Nome: ' %>
        <%= f.text_field :name, :class => 'form-control', :placeholder => 'Digite seu Nome'%>
      </div>
      <div class="field">
        <%= f.label :email, 'Email:' %>
        <%= f.email_field :email, :class => 'form-control', :placeholder => 'exemple@email.com' %>
      </div>
      <div class="field">
        <%= f.label :password, 'Senha:'%>
        <%= f.password_field :password, :class => 'form-control', :placeholder => 'Digite uma senha' %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, 'Confirmar senha: ' %>
        <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'confirme sua senha' %>
      </div>
      <br >
      <div class="actions">
        <%= f.submit "Cadastrar", :class => 'btn btn-success' %>
      </div>
    </div>
  </form>
</div>
<% end %>
